{% extends 'layouts/skeleton.twig' %}

{% block content %}
<div class="window" id="chatWindow">
    <header>
        <h1><i class="fa-solid fa-comments"></i>Instant Message</h1>
        <ul id="systemActions">
            <li id="minimize">
                <a href="#"></a>
            </li><li>
                <a href="#"><i class="fa-regular fa-window-maximize"></i></a>
            </li><li id="exit">
                <a href="#"><i class="fa-solid fa-xmark"></i></a>
            </li>
        </ul>
    </header>
    <nav>
        <ul id="menu">
            <li>
                <label for="toggleFileMenu"><u>F</u>ile</label>
                <input id="toggleFileMenu" type="checkbox" hidden>
                <ul class="contextMenu">
                    <li><a href="#">New Chat</a></li>
                    <li><a href="#">Settings</a></li>
                    <li class="break"></li>
                    <li><a href="#">Close</a></li>
                </ul>
            </li>
            <li>
                <label for="toggleEditMenu"><u>E</u>dit</label>
                <input id="toggleEditMenu" type="checkbox" hidden>
                <ul class="contextMenu">
                    <li><a href="#">Cut</a></li>
                    <li><a href="#">Paste</a></li>
                </ul>
            </li>
            <li>
                <label for="toggleInsertMenu">I<u>n</u>sert</label>
                <input id="toggleInsertMenu" type="checkbox" hidden>
                <ul class="contextMenu">
                    <li><a href="#">Image</a></li>
                    <li><a href="#">Hyperlink</a></li>
                </ul>
            </li>
            <li>
                <label for="togglePeopleMenu"><u>P</u>eople</label>
                <input id="togglePeopleMenu" type="checkbox" hidden>
                <ul class="contextMenu">
                    <li><a href="/friends">Buddy List</a></li>
                    <li><a href="#">Add Friend</a></li>
                </ul>
            </li>
        </ul>
        <span>Warning Level: 0%</span>
    </nav>
    <ol id="messages">
        <li><b>Sydney</b>: Greetings from the trenches of adulthood! What's shaking?</li>
        <li><i>Devin</i>: Just dodging responsibility like a pro. You?</li>
        <li><b>Sydney</b>: Same here, doing the cha-cha with deadlines. Want to pirouette out of this routine later?</li>
        <li><i>Devin</i>: Absolutely! Let's do dinner at the "Don't-Burn-the-House-Down" Bistro. You up for the challenge?</li>
        <li><b>Sydney</b>: Ha! Bring it on. What time should we juggle flaming spatulas?</li>
        <li><i>Devin</i>: 7:00? Gives us enough time to rehearse our emergency exit strategies.</li>
        <li><b>Sydney</b>: Perfect. I'll wear my fire-resistant cape. See you there!</li>
        <li class="break"></li>
        <li><b>Sydney</b>: Devin, I'm en route to the Bistro. Flame-resistant attire intact. You already battling the culinary dragons?</li>
        <li><i>Devin</i>: On my way, armed with a spatula and a fire extinguisher. Reserve us a table near the emergency exit!</li>
        <li><b>Sydney</b>: Roger that, Captain Culinary. See you soon!</li>
        <li class="break"></li>
        <li><i>Devin</i>: Made it! Ready for this gastronomic tightrope walk?</li>
        <li><b>Sydney</b>: Born ready. Let's see if the chef can pull off the culinary high-wire act!</li>
        <li class="break"></li>
        <li><i>Devin</i>: We survived the kitchen acrobatics. That was a culinary circus!</li>
        <li><b>Sydney</b>: I feel like we just performed a magic show with our taste buds. What's next, dessert or a trapeze act?</li>
        <li><i>Devin</i>: Dessert, definitely. We'll save the trapeze for our next dining adventure. Lead the way!</li>
        <li class="break"></li>
        <li><b>Sydney</b>: This place is the sweetest spot in town. What's your dessert spirit animal?</li>
        <li><i>Devin</i>: I'm a chocolate ninja. Stealthy and irresistible. You?</li>
        <li><b>Sydney</b>: I'm a dessert archaeologist. I dig through layers of sweetness to find hidden treasures. Find us a table for two, Indiana Jones style!</li>
        <li class="break"></li>
        <li><i>Devin</i>: Time flew by faster than a sugar rush. That was dessert-licious!</li>
        <li><b>Sydney</b>: Agreed! We should write a Yelp review for our taste bud journey. How about a sequel next week?</li>
        <li><i>Devin</i>: "The Sweet Escape: Return of the Dessert Devotees." Wednesday?</li>
        <li><b>Sydney</b>: Wednesday it is. Until then, keep your taste buds on standby! Sweet dreams, Devin!</li>
        <li><i>Devin</i>: You too, Sydney! May your desserts be ever delightful!</li>
    </ol>
    <div id="composer">
        <textarea></textarea>
    </div>
    <ul id="footer">
        <li id="moderationTools">
            <ul>
                <li>
                    <a href="#" id="warnBuddy">
                        <i class="fa-solid fa-bolt"></i>
                        <u>W</u>arn
                    </a>
                </li>
                <li>
                    <a href="#" id="blockBuddy">
                        <i class="fa-solid fa-user-slash"></i>
                        Bloc<u>k</u>
                    </a>
                </li>
            </ul>
        </li>
        <li id="interactiveTools">
            <ul>
                <li>
                    <a href="/friends" id="addBuddy">
                        <i class="fa-solid fa-user-plus"></i>
                        Add <span>Buddy</span>
                    </a>
                </li>
                <li>
                    <a href="#" id="talk">
                        <i class="fa-solid fa-phone-volume"></i>
                        Talk
                    </a>
                </li>
                <li>
                    <a href="#" id="getInfo">
                        <i class="fa-solid fa-address-card"></i>
                        <span>Get</span> Info
                    </a>
                </li>
            </ul>
        </li>
        <li id="senderTools">
            <ul>
                <li>
                    <a href="/error" id="sendMessage">
                        <i class="fa-solid fa-share"></i>
                        Send
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
{% endblock content %}