<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/svg+xml" href="/src/assets/favicon-32x32.png"/>
    <meta name="viewport" content="initial-scale=1.25, viewport-fit=cover"/>
    <title>Sign On</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="/src/screen.css">
        <link rel="stylesheet" href="/src/signon.css">
    {% endblock stylesheets %}
</head>
<body>
<div class="window" id="signOnWindow">
    <header>
        <h1>
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            Sign On
        </h1>
        <ul id="systemActions">
            <li id="minimize">
                <a href="#"></a>
            </li><li class="disabled">
                <a href="#"><i class="fa-regular fa-window-maximize"></i></a>
            </li><li id="exit">
                <a href="#"><i class="fa-solid fa-xmark"></i></a>
            </li>
        </ul>
    </header>
    <div id="splash">
        <i class="fa-solid fa-cat"></i>
        CSS Instant Messenger
    </div>
    <div id="break"></div>
    <form id="signOnForm" action="/chat">
        <fieldset>
            <label for="screenName">
                ScreenName
                <i class="fa-solid fa-key"></i>
                <input id="screenName">
                <a href="/signup">Get a Screen Name</a>
            </label>
            <label>
                Password
                <input id="password" type="password">
                <a href="/reset">Forgot Password?</a>
            </label>
            <div id="securitySettings">
                <label>
                    <input id="savePassword" type="checkbox">
                    Save password
                </label>
                <label>
                    <input id="autoLogin" type="checkbox">
                    Auto-login
                </label>
            </div>
        </fieldset>
    <ul id="footer">
        <li>
            <button>
                <i class="fa-solid fa-truck-medical"></i>
                <u>H</u>elp
            </button>
        </li>
        <li>
            <button>
                <i class="fa-solid fa-wrench"></i>
                S<u>e</u>tup
            </button>
        </li>
        <li id="signOn">
            <button type="submit">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                <u>S</u>ign On
            </button>
        </li>
    </ul>
    </form>
    <span id="version">Version: √<b>1</b></span>
</div>


<script src="https://kit.fontawesome.com/2cf90da1ec.js" crossorigin="anonymous"></script>
</body>