/* start reset */

html, body, div, p, h1, h2, h3, h4, h5, h6,
ul, ol, li, dl, dt, dd, form, fieldset, caption, legend,
table, tr, td, th, address, blockquote, img {
    margin: 0;
    padding: 0;
}

img, fieldset {
    border: none;
}

blockquote, q {
    quotes: none;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

button, label, summary {
    cursor: pointer;
}

body, button, input, table, textarea, select {
    font-size: 1rem;
    line-height: 1.5;
    font-family: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

/* end reset */

html, body {
    height: 100%;
}

body {
    background: #0066dd url(assets/background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 400 1.375em/1.5 arial, sans-serif;
}

#dialog {
    width: 36em;
    height: 29em;
    background: #EDEAD9;
    border: 5px solid #011B9D;
    border-width: 4px;
    border-style: solid;
    border-radius: 12px 12px 0 0;
    display: flex;
    flex-direction: column;
    margin: 0 0.5em;
}

header {
    display: flex;
    vertical-align: center;
    background: linear-gradient(#011B9D, #4892E9);
    color: #FFF;
    padding: 5px 5px 8px;
}

h1 {
    font-size: .875em;
    line-height: 1.75;
    max-height: 1.5em;
}

h1 i {
    margin-right: 0.5rem;
    color: #DD856D;
}

#systemActions {
    display: flex;
    margin-left: auto;
    column-gap: .25em;
}

#systemActions li a {
    height: 1.5em;
    width: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 2px
}

#systemActions #exit a {
    background-color: #c44a13;
}

#systemActions #minimize a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#systemActions #minimize a::before {
    content: '';
    width: 60%;
    height: 2px;
    background: #fff;
    display: block;
    margin: 0 0 8px;
}

nav {
    display: flex;
    border-bottom: 1px solid #CCC;
    justify-content: space-between;
    padding: 2px 0.5em;
    flex-wrap: wrap;
    align-items: center;
}

nav span {
    font-size: 0.75em;
    color: #555;
    max-height: 0.75em;
    line-height:0.75;
}


#menu {
    display: flex;
    column-gap: 1.25em;
}

#menu a {
    text-decoration: none;
    color: #000;
}

#messages {
    list-style: none;
    background: #fff;
    margin: 8px;
    box-shadow: inset 3px 3px 1px #ccc;
    font-family: serif;
    height: 10em;
    overflow-y: scroll;
    padding: 4px 0.5em;
    flex-grow: 1;
}

#messages b,
#messages i {
    font-style: normal;
    font-weight: bold;
}

#messages .break {
    height: 2px;
    background: #ccc;
    margin: 12px 0;
}

#messages b {
    color: blue;
}

#messages i {
    color: red;
}

#composer {
    background: #fff;
    margin: 8px;
    height: 5em;
    box-shadow: inset 3px 3px 1px #ccc;
}

#composer textarea {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    margin: 4px;
    resize: none;
    outline: none;
    border: none;
}

#footer {
    display: flex;
    margin: 8px;
    border: 2px solid #cfcfcf;
    border-right-width: 0;
    font-weight: bold;
}

#footer li {
    flex-grow: 1;
}

li#moderationTools {
    flex-grow: 1;
}

li#interactiveTools {
    flex-grow: 3;
}

li#senderTools {
    flex-grow: 1;
}

#footer ul {
    display: flex;
    border-left: 1px solid #fff;
    border-right: 2px solid #cfcfcf;
    border-top: 1px solid #fff;
}

#senderTools li {
    border-right: none;
}

#footer li a {
    display: block;
    padding: 1em;
    text-align: center;
    font-size: .625rem;
    color: #333;
    text-decoration: none;
}

#footer li i {
    width: 24px;
    height: 24px;
    font-size: 2em;
    display: block;
    margin: 0 auto 4px;
}

#interactiveTools a {
    color: #CCC;
}

#footer #warnBuddy i {
    color: #FFD397;
    -webkit-text-stroke: 1px #000;
}

#footer #blockBuddy i {
    color: #FFA5B6;
    -webkit-text-stroke: 1px #000;
}

#footer #sendMessage i {
    color: #BAF5BF;
    -webkit-text-stroke: 1px #000;
}

/*
#footer li a {
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    border-style: solid;
    border-color: #fff;
    border-width: 2px 0 2px 0;
    font-size: .75em;
    flex-direction: column;
}

#footer a span {
    width: 32px;
    height: 32px;
    background: #ccc;
    font-size: 0.75rem;
    color: #aaa;
    line-height: 32px;
}*/
