<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/svg+xml" href="/src/assets/favicon-32x32.png"/>
    <meta name="viewport" content="initial-scale=1.0, viewport-fit=cover"/>
    <title>CSS Chat</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="/src/screen.css">
    {% endblock stylesheets %}
</head>
<body>
<h1>SydneyAWeb : DevinJacks - Instant Message</h1>
<ul id="menu">
    <li>File</li>
    <li>Edit</li>
    <li>Insert</li>
    <li>People</li>
</ul>
<span>SydneyAWeb's Warning Level</span>
<ol>
    <li><b>Sydney:</b> Hi, you there?</li>
    <li><i>Devin:</i> Want to meet later?</li>
    <li><b>Sydney:</b> Sure, what time?</li>
    <li><i>Devin:</i> 9:00?</li>
    <li><b>Sydney:</b> Sounds good. See you then.</li>
</ol>
<ul id="toolbar">
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
</ul>
<textarea></textarea>
<ul id="footer">
    <li>Warn</li>
    <li>Block</li>
    <li>Expressions</li>
    <li>Games</li>
    <li>Talk</li>
    <li>Send</li>
</ul>
</body>